{% extends "base.html" %} 
{% load static %}

{% block content %}


<div class="about-us bg-gray mt-110 mb-105">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-description">
                    <div class="about-content">
                        <h3>about us</h3>
                        <div class="about-read">
                            <p class="text-1">
                                LeakeTesfay is an import and selling company of  Bajaj Cargo, Motorbicycle, scotters and every sort of vehicle spare parts for the poducts.
                            </p>
                            <p class="text-2">
                                this company is located in the city of mekelle the capital city of Tigray region in the norther part of Ethiopia. 
                            </p>
                            <p class="text-3">
                                we in LeakeTesfay listen to our customers requests and deliver their needs with full satisfaction.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--About us end-->



{% endblock %}