{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'blog/img/favicon.png' %}">
		
    <!-- all css here -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/plugin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bundle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/responsive.css' %}">


    
    {% if title %}
       <title>LeakeTesfay - {{ title }}</title>
    {% else %}
        <title>LeakeTesfay</title>
    {% endif %}

</head>
<body>
        <header>
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-3">
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{% static 'blog/img/logo/logo.PNG' %}" alt="exporso logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-8">
                            
                        </div>
                        <div class="col-lg-2 col-md-1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="menu d-none d-lg-block ">
                                <nav>
                                    <ul>                                                  
                                        <li><a href="{% url 'home' %}">HOME</a></li>
                                        <li><a href="{% url 'gallery_link' %}">Gallery </a></li>
                                        <li><a href="{% url 'contact' %}">Contact </a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="header_right_info">
                                
                            </div>
                        </div>
                        <div class="col-12 d-lg-none">
                            <!--Mobile menu murkup start-->
                            <div class="mobile-menu-area d-lg-none">
                                <div class="mobile-menu clearfix">
                                    <nav>
                                        <ul>                                                  
                                        <li><a href="">HOME</a></li>
                                        <li><a href="">About</a></li>
                                        <li><a href="">Shop </a></li>                                                
                                        <li><a href="">CONTACT </a></li>
                                        
                                    </ul>
                                    </nav>
                                </div>
                            </div>
                            <!--Mobile menu murkup End-->
                        </div>

                        z
                    </div>
                </div>
            </div>

        </header>
       

   
        
        {% block content %}

        {% endblock content %}
        


        <footer class="footer_area">
            <div class="footer_bottom ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="single_footer widget_description">
                                <p>We are on the core capital center of Tigray, in the City of Mekelle.</p>
                                <div class="addresses_inner">
                                    <div class="single_address">
                                        <p>
                                            <span> Address: </span> <span>Main road, South Road <br>Mekelle, Tigray</span>
                                        </p> 
        
                                        <p>
                                            <span> Phone: </span> <span>+251 344409704 <br>  +251 344409704</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="social__icon">
                                    <ul>
                                        <li>
                                            <a class="facebook" href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="google-plus" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                        </li>
        
                                        <li>
                                            <a class="twitter" href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a class="linkedin" href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single_footer footer_widget_menu">
                                <div class="widget_title">
                                    <h3>Services</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Free shipping</a></li>
                                    <li><a href="#">Online Service's</a></li>
                                    <li><a href="#">Discount</a></li>
                                    <li><a href="#">Detailed information</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single_footer footer_widget_menu">
                                <div class="widget_title">
                                    <h3>Support</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Quality</a></li>
                                    <li><a href="#">Product Details</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Store Deal</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single_footer footer_widget_menu">
                                <div class="widget_title">
                                    <h3>Our Company</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Highly Rated</a></li>
                                    <li><a href="#">Customer Friendly</a></li>
                                    <li><a href="#">Well Equiped</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright_inner text-center">
                                <p>Copyright © All Right Reserved </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
        
       <script src="{% static 'blog/js/vendor/jquery-1.12.0.min.js' %}"></script>
       <script src="{% static 'blog/js/popper.js' %}"></script>
       <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
       <script src="{% static 'blog/js/plugins.js' %}"></script>
       <script src="{% static 'blog/js/main.js' %}"></script>

</body>
</html>